<html>
<body>

<h1>Edit {{editItem.name}}</h1>

<form action ="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=id, editItem=editItem)}}" method="post">

<p>Item Name:<br>
<input type="text" size="30" name="name" placeholder="{{editItem.name}}"></p>
                                        
<p>Item Description:<br>
<input type="text" size="60" name="description"  placeholder="{{editItem.description}}"></p>
                                               
<p>Item Price:<br>
<input type="text" size="5" name="price"  placeholder="{{editItem.price}}"></p>  
                                         
<p>Item Course:<br>

<input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
<input type="radio" name="course" value="Entree">Entree<br>
<input type="radio" name="course" value="Dessert">Dessert</p>


<input type="submit" value="Edit">

<a href = "{{url_for('showMenu', restaurant_id=restaurant_id)}}"> Cancel </a>
</form>
</body>
</html>
